DB_HOST=localhost
DB_PORT=3306
DB_NAME=aca_used_goods
DB_USERNAME=aca
DB_PASSWORD=1234
DB_ROOT_PASSWORD=root1234

JWT_SECRET=change-this-to-a-long-random-secret-value-please-0000000000
JWT_EXPIRATION=3600000
